body, h1{
    font-family: 'Didact Gothic', sans-serif;
}
h1{
    color: #ff7a55;
}
#menu{
    padding: 1% 0;
}
.icon_social i:hover{
    color: #ff7a55;
}
#index-menu .nav-link{
    color: #ff7a55;
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    font-weight: 100;
}
#index-menu .nav-link:hover{
    color: gray;
    border-bottom: solid;
    border-color: gray;
    border-bottom-width: 3px;
}
#pestanas{
    padding-top: 1%;
}
#pestanas .active{

}
.logo{
    max-width: 250px;
    height: 80px;
}
.video{
    max-width: 100%;
    opacity: 0.8;
}

.boton1{
    width: 55%;
    height: 45px;
    background: #ff7a55;
    border: none;
    border-radius: 25px;
    font-size: 200%;
    color: #ffffff;
    opacity: 0.8;
    padding: 5px 8%;
}

.distancia{
    padding-left: 25%;
}
i{
    color: #ffffff;
    padding-bottom: 10%;
}
a{
    font-size: 20px;

}
a:hover{
    color:#ff7a55;
}
.msj1{
    padding-left: 10%;
    margin-top: 15%;
}
.msj1 h1{
    font-size: 400%;
}
.btnvideo{
    padding-left: 25%;
}
.fondo{
    position: absolute;
}
.pos{
    z-index: 200;
}
.social{
    margin-top: 20%;
    padding-left: 2%;
}
.demo{
    margin-top: 20%;
}
.demo .card{
    border: none;
}
.boton2{
    width: 70%;
    height: 50px;
    opacity: 0.9;
    font-size: 200%;
    font-weight: 300;
    padding: 4px 10%;
    background: #ffffff;
    border:solid;
    border-radius: 25px;
    border-width: medium;
    border-color: #ff7a55;
    color: #ff7a55;
}

.boton3{
    width: 70%;
    height: 50px;
    opacity: 0.9;
    font-size: 200%;
    font-weight: 300;
    padding: 4px 10%;
    background: #ffffff;
    border:solid;
    border-radius: 25px;
    border-width: medium;
    border-color: #5cb85c;
    color: #5cb85c;
}

.boton1:hover, .boton2:hover, .boton3:hover{
    background: gray;
    text-decoration: none;
    opacity: 0.8;
}
.aceptar{
    margin-bottom: 3%;
}
.card img{
    width:200px;
    height:200px;
}

#demo1{
    font-size: 150%;
}
#demo2{
    margin-top: 3%;
}
#demo3{
    margin-top: 3%;
}
.close{
    position: absolute;
    margin-left: 96%;
    margin-top: 2%;
    color: red;
}
#foot_SN{
    padding-left: 20%;
}
#foot_SN i{
    width: 30px;
    height: 31px;
    font-size: 25px;
    background: #ff7a55;
    color: #fff;
    border: none;
    border-radius: 50%;
    text-align: center;
    padding-top: 2%;
}
#contactos{
    background: darkgrey;
    margin-top: 5%;
    padding-top: 4%;
}
#datos_cont i{
    color: black;
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 3%;
}
.error{
    color: #ff7a55;
}

#menuprincipal{
    padding: 1% 0;
}
#perfil-menu .nav-link{
    color: #ff7a55;
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    font-weight: 100;
}
#perfil-menu .nav-link:hover{
    background-color: lightgray;
}
.active{
    background-color: lightgray;
}

.imagenPerfil{
    border-radius: 50%;
}
.topnav{
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #ff7a55;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    font-weight: 100;
}
.topnav a:hover  {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}
.modalnone{
    display: none;
}
#perfil{
    margin-bottom: 3%;
}
#citainfo{
    text-align: center;
    margin-bottom: 3%;
}
#perfilmod h3{
    font-size: 120%;
}
@media screen and (min-width: 991px){
    #navbarSupportedContent{
        margin-left: 35%;
    }
    #citainfo{
        text-align: left;
    }
    .aceptar{
        margin-bottom: 15%;
    }
    #perfilmod h3{
        font-size: 140%;
    }
    .icon_social i{
        font-size: 35px;
    }

}
@media screen and (max-width: 990px){
    .msj1 h1{
        font-size: 300%;
    }
    .boton1{
        font-size: 150%;
        padding: 4px 8%;
    }

    .demo{
        margin-top:5%;
    }
    #demo1{
        font-size: 150%;
    }




}

@media screen and (max-width: 760px){
    .msj1 h1{
        font-size: 200%;
    }
    .boton1, .boton2, .boton3{
        font-size: 150%;
        padding: 4px 8%;
    }
    .card img{
        width:130px;
        height:130px;
    }
    .demo{
        margin-top:10%;
    }
    #demo1{
        font-size: 100%;
    }


}
@media screen and (max-width: 570px){
    .msj1 h1{
        font-size: 150%;
    }
    .msj{
        padding-left: 20%;
    }
    .boton1, .boton2, .boton3{
        font-size: 120%;
        padding: 3px 6%;
    }
    .demo{
        margin-top:10%;
    }
    #demo1{
        font-size: 70%;
    }
    .card img{
        width:150px;
        height:150px;
    }


}
@media screen and (max-width: 400px){
    #datos_cont iframe{
        width:300px;
        height:200px;
    }
    #perfilmod h3{
        font-size: 100%;
    }

}



